body{
    background-color: black;

}
.window {
    border: solid green 1px;
    padding: 1px;
    width: 800px;
    height: 600px;
    margin: 20px auto;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.room {
    border: dashed green 1px;
}
.room:hover {
    border: solid red 1px;
}
.starter {
    grid-column: 1;
    grid-row: 3;
}

.test {
    height: 100px;
    width: 100px;
    border: solid magenta 1px;
}